#navigator {
background-color:#333;
}

.catListTitle {
background-color:#333;
}

.sidebar-block h3 {
background-color:#333;
}

input.btn_my_zzk {
background:#333;
}

#footer {
color:#fff;
background-color:#333;
}